<%= form_tag '/event_times' do %>

			<div id="addNewTime">
	  <%= label_tag 'time1' %>
 
	 <%= hidden_field_tag 'event_time[][event_id]', params[:event_id]  %>
	 <%#= time_select 'event_time[][name]', {:minute_step => 15} %>
	<%= text_field_tag 'event_time[][time_description]' %>
	  
	 
			
			<div id="addNewTime">
	  <%= label_tag 'time2' %>
	  <%= hidden_field_tag 'event_time[][event_id]', params[:event_id]  %>
	 <%#= time_select 'event_time[][name]', {:minute_step => 15} %>
	<%= text_field_tag 'event_time[][time_description]' %>
	

   			<div id="addNewTime">
	  <%= label_tag 'time3' %>
	  <%= hidden_field_tag 'event_time[][event_id]', params[:event_id]  %>
	  <%#= time_select 'event_time[][name]', {:minute_step => 15} %>
		<%= text_field_tag 'event_time[][time_description]' %>
	
				
			<div id="addNewTime">
	  <%= label_tag 'time4' %>
	  <%= hidden_field_tag 'event_time[][event_id]', params[:event_id]  %>
	<%#= time_select 'event_time[][name]', {:minute_step => 15} %>
	<%= text_field_tag 'event_time[][time_description]' %>
	
</div>				
					
<div class="field">
    <%#= hidden_field_tag :event_id %>
	<%= hidden_field_tag 'event_id', params[:event_id] %>
  </div>

 <div class="actions">
    <%= submit_tag %>
  </div>

<% end %>