<%= form_for(@event_time) do |f| %>
  <% if @event_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_time.errors.count, "error") %> prohibited this event_time from being saved:</h2>

      <ul>
      <% @event_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Time Option 1" %>
    <%= f.time_select :time1, :default => 2.hours.from_now, :minute_step => 15, :ampm => true  %>
  </div>
  <div class="field">
    <%= f.label "Time Option 2" %>
    <%= f.time_select :time2, :default => 3.hours.from_now, :minute_step => 15, :ampm => true %>
  </div>
  <div class="field">
    <%= f.label "Time Option 3" %> 
    <%= f.time_select :time3, :default => 4.hours.from_now, :minute_step => 15, :ampm => true %>
  </div>
  <div class="field">
    <%= f.label "Time Option 4" %> 
    <%= f.time_select :time4, :default => 5.hours.from_now, :minute_step => 15, :ampm => true %>
  </div>
   
<div class="field">
    <%= f.label :event_id %>
	<%= f.hidden_field :event_id %>
    <%= @event_id  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
