<%= form_tag '/event_times' do %>

<% 4.times do |i| %>
	<div id="addNewTime">
		<%= label_tag "time#{i+1}" %>
		<%= hidden_field_tag 'event_time[][event_id]', params[:event_id]  %>
		<%#= time_select 'event_time[][name]', {:minute_step => 15} %>
		<%#= text_field_tag 'event_time[][time_description]' %>
		<%= select_tag 'event_time[][time_description][hour]', options_for_select((1..12).to_a) %>
		<%= select_tag 'event_time[][time_description][minute]', options_for_select(['00', '15', '30', '45']) %>
		<%= select_tag 'event_time[][time_description][ampm]', options_for_select(['AM', 'PM']) %>
	</div>
<% end %>



<div class="field">
    <%#= hidden_field_tag :event_id %>
	<%= hidden_field_tag 'event_id', params[:event_id] %>
  </div>

 <div class="actions">
    <%= submit_tag %>
  </div>

<% end %>
