<h1>Listing Event Times</h1>

<table class="table table-hover">
  <tr>
    <th>Time Descr</th>
    <th>Time2</th>
     
    <th>Event</th>
    <th> </th>
    <th></th>
    <th></th>
	<th></th>
	<th></th>
  </tr>

<% @event_times.each do |event_time| %>
  <tr>
    <td><%= event_time.time_description.strftime('%l:%M %p') %></td>
    <td>   </td> 
  
    <td><%= event_time.event.title if event_time.event.present? %></td>
<td><%= event_time.event_id %></td>
    <td><%= link_to 'Show', event_time %></td>
    <td><%= link_to 'Edit', edit_event_time_path(event_time) %></td>
    <td><%= link_to 'Destroy', event_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event time', new_event_time_path %>
