<p id="notice"><%= notice %></p>

<table class="table table-hover">
	<tr>
    <th>Time Option1</th>
    <th>Time Option2</th>
    <th>Time Option3</th>
    <th>Time Option4</th>
    <th>Event</th>
    <th></th>
  	 
</tr>
<tr>
<td>
  <%= @event_time.time1.strftime('%l:%M %p')  %>
 </td>
 <td>
  <%= @event_time.time2.strftime('%l:%M %p')  %>
</td>
<td>
  <%= @event_time.time3.strftime('%l:%M %p')  %>
</td>
<td>
  <%= @event_time.time4.strftime('%l:%M %p')  %>
</td>
<td>
	<%= @event_id %>
	</td>
</tr>
</table>

<%= link_to 'Edit', edit_event_time_path(@event_time) %> |
<%= link_to 'Back', event_times_path %>
