<p id="notice"><%= notice %></p>

<p>
  <b>Time Option1:</b>
  <%= @event_time.time1 %>
</p>

<p>
  <b>Time Option 2:</b>
  <%= @event_time.time2 %>
</p>

<p>
  <b>Time Option 3:</b>
  <%= @event_time.time3 %>
</p>

<p>
  <b>Time Option 4:</b>
  <%= @event_time.time4 %>
</p>


<%= link_to 'Edit', edit_event_time_path(@event_time) %> |
<%= link_to 'Back', event_times_path %>
