<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
 <div class="field">
    <%= f.label "What do you want to do?" %>
    <%= f.text_field :title, :placeholder => "Brunch/ drinks/ game night..." %>
  </div>


<div class="field">
    <%= f.label "How many people are coming?" %>
    <%= f.number_field :totalvoters, :in => 1...30,  :placeholder => "Make sure to include yourself" %>

  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, :placeholder => "Optional" %>
  </div>
 
<div class="actions">
    <%= f.submit %>
  </div>
<br>

<%end%>