<h1>Event Listing</h1>

<table class="table table-hover">
  <tr>
    <th>Invitees</th>
    <th>Title</th>
    <th>Lead Time</th>
    <th>Lead Place</th>
	<th>Votes</th>
	<th>ID</th>
    <th></th>
    <th></th>
	<th></th>
  	</tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.totalvoters %></td>
    <td><%= event.title %></td>
    <td><%= event.final_time %></td>
    <td><%= event.user_id if event.user_id.present? %></td>
	<td><%= event.votes.count %></td>
	<td><%= event.id %></td>
    <td><%= link_to 'Show', event,  class: 'btn btn-primary' %></td>
    <td><%= link_to 'Edit', edit_event_path(event), class: 'btn btn-primary' %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Event', new_event_path %>
