


<%= render 'details' %>
 

<!-- if the number of votes cast = totalvoters then the leading location votes becomes the final location and leading time becomes final time

if there is only 1 option then it is the final
 

and it should end 30 minutes before the first event time

 -->
 
<p>
  Location Votes:<br>
  <% @location_votes.each do |info| %>
   <%= Location.find(info[:id]).name %> (<%= info[:count] %>)<br>
  <% end %>
<br>
 
  Event Time Votes:<br>
  <% @event_time_votes.each do |info| %>
   <%= EventTime.find(info[:id]).time_description.in_time_zone('Atlantic Time (Canada)').strftime('%l:%M %p') %> (<%= info[:count] %>) <br>
  <% end %>

</p>

<h4>Copy and paste the link below to have others vote on this event</h4><br>

<h3>http://letdo.herokuapp.com<%=new_vote_path(event_id: @event.id) %></h3>

<br>
<br>

 
<%= link_to 'Edit Your Event', edit_event_url %>
