<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%= @event.title %>
</p>
<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Final time:</b>
  <%= @event.final_time %>
</p>
<p>
  <b>Event ID:</b>
 <%=@event.id %>
</p>

 <b>Location Options:</b>
 
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

