


<%= render 'details' %>

<p>
 <b> Location Votes:</b><br>
  <% @location_votes.each do |info| %>
   <%= Location.find(info[:id]).name %> (<%= info[:count] %>)<br>
  <% end %>
<br>
 
  Event Time Votes:<br>
  <% @event_time_votes.each do |info| %>
   <%= EventTime.find(info[:id]).time_description.strftime('%l:%M %p') %> (<%= info[:count] %>) <br>
  <% end %>

</p>

<h4>Send the link below to have others vote on this event</h4>

<h4>http://letdo.herokuapp.com<%=new_vote_path(event_id: @event.id) %></h4>

<br>
 
 
<%= link_to 'Edit Your Event', edit_event_url,  class: 'btn btn-primary' %>
