<p id="notice"><%= notice %></p>


<%= render 'details' %>
 

<!-- if the number of votes cast = totalvoters then the leading location votes becomes the final location and leading time becomes final time

if there is only 1 option then it is the final
 

and it should end 30 minutes before the first event time

 -->
 
<p>
  Location Votes:<br>
  <% @location_votes.each do |loc_vote, count| %>
   <%= Location.find(loc_vote).name %> (<%= count %>) ***<br>
  <% end %>
<br><br>
 
  Event Time Votes:<br>
  <% @event_time_votes.each do |time_vote, count| %>
   <%= EventTime.find(time_vote).time_description.in_time_zone('Atlantic Time (Canada)').strftime('%l:%M %p') %>  (<%= count %>) *** <br>
  <% end %>

</p>

"Copy and past the link below to have others vote on this event"<br>

<%= link_to new_vote_path(event_id: @event.id) %><br>

 <br>


 
<%= link_to 'Back', events_path %>
