<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="Timefield">
	<% @eventhere.event_times.each do |et| %>
 <%=et.time_description.strftime('%l:%M %p') %> <%= f.radio_button :event_time_id, et.id %>  

  <% end %>


	<% @eventhere.locations.each do |locale| %>

<span><%= locale.name  %></span><%= f.radio_button :location_id, locale.id if locale.name? %>
  

	<% end %>


 <div class="field">
<%= f.label "Receive the winning time and location:" %>
	    <%= f.text_field :token, :placeholder => 'Please enter your email' %>

  <h2>
    "Enter your email below to be sent the winning Time and Location:"
    <%= f.text_field :token %>
  </h2>
	
  <div class="field">
    <%#= f.label :user_id %>
    <%= f.hidden_field :user_id %></br>
  </div>


    <div class="field">
      <%#= f.hidden_field :event_id %>
      <%= f.hidden_field :event_id, value: params[:event_id] %>
    </div>
    <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
