<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="Timefield">
	<% @eventhere.event_times.each do |et| %>
	<div class="Timefield span3 et-times">
		<%=et.time_description.strftime('%l:%M %p') %> 
		<span class="time-display">
			<%= f.radio_button :event_time_id, et.id %> 
		</span>
	</div> 
              
  <% end %>

<br>
<br>
<br>
<br>
<br>

	<% @eventhere.locations.each do |locale| %>
	<div class="locField span4 et-times">
		<%= f.radio_button :location_id, locale.id if locale.name? %>
		<span class="time-display">
  			<%= locale.name %>
		</span>
	</div>
	<% end %>

<h3 class="field">
<%= f.label "Receive the winning time and location:" %>
	    <%= f.text_field :token, :placeholder => 'Please enter your email' %>
</h3>
  
  <div class="field">
    <%#= f.label :user_id %>
    <%= f.hidden_field :user_id %></br>
  </div>


    <div class="field">
      <%#= f.hidden_field :event_id %>
      <%= f.hidden_field :event_id, value: params[:event_id] %>
    </div>
    <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
