<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="Timefield">
	<% @eventhere.event_times.each do |et| %>
 <%=et.time_description.strftime('%l:%M %p') %> <%= f.radio_button :event_time_id, et.id %>  

  <% end %>

<!-- Can we Make Two Columns, One for Times and One for Locations? -->
<br>
<br>
	<% @eventhere.locations.each do |locale| %>
<span><%= locale.name %></span><%= f.radio_button :location_id, locale.id if locale.name? %>
  
	<% end %>

  <!--  <%#= f.label "Time Option 1" %>
  <%#= f.radio_button :event_time_column, "time1" %>
   	<b> <%#= @eventhere.event_time.time1.strftime('%l:%M %p')  %></b></br>

   <br><%#= f.label "Time Option 2" %>
  	<%#= f.radio_button :event_time_column, "time2" %>
      	<b> <%#= @eventhere.event_time.time2.strftime('%l:%M %p')  %></b></br>

   <br>    <%#= f.label "Time Option 3" %>
  	<%#= f.radio_button :event_time_column, "time3" %>
      	<b> <%#= @eventhere.event_time.time3.strftime('%l:%M %p')  %></b></br>

     <br>  <%#= f.label "Time Option 4" %>
  	<%#= f.radio_button :event_time_column, "time4"  %>
      	<b> <%#= @eventhere.event_time.time4.strftime('%l:%M %p')  %></b></br>
    </div>
    <br>
  	<div class="Locationfield">
      <%#= f.label "Location Option 1" %>
  	<%#= f.radio_button :event_location_column, @eventhere.location.loc1 %>
    	<b>  <%#= @eventhere.location.loc1 %> </b> </br>
     <br> <%#= f.label "Location Option 2" %>
  	<%#= f.radio_button :event_location_column, "loc2" %>
    	<b>  <%#= @eventhere.location.loc2 %>  </b></br>
     <br> <%#= f.label "Location Option 3" %>
  	<%#= f.radio_button :event_location_column, "loc3" %>
     	<b> <%#= @eventhere.location.loc3 %>  </b></br>
     <br> <%#= f.label "Location Option 4" %>
  	<%#= f.radio_button :event_location_column, "loc4" %>
    	<b>  <%#= @eventhere.location.loc4 %>  </b> </br>
    	</div>
  	 -->
 <div class="field">
<%= f.label "Receive the winning time and location:" %>
	    <%= f.text_field :token, :placeholder => 'Please enter your email' %>


  <br><div class="field">
    <%#= f.label :user_id %>
    <%= f.hidden_field :user_id %></br>
  </div>


    <div class="field">
      <%#= f.hidden_field :event_id %>
      <%= f.hidden_field :event_id, value: params[:event_id] %>
    </div>
    <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
