<p id="notice"><%= notice %></p>
<p>
  <b>Location:</b>
  <%= @vote.location.name %>
</p>
<p>
  <b>Event time:</b>
  <%= @vote.event_time.time_description %>
</p>
<p>
  <b>User:</b>
  <%= @vote.user_id %>
</p>
<p>
  <b>Event:</b>
  <%= @vote.event_id %>
</p>

Enter your email to be notified when Voting is closed
Email Address:

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
