<%= form_tag '/locations' do %>

<!-- <############Changed Disable to False to make the Locations editable-> -->

			<div class="addNewLoc">
				<p>
				  <%= label_tag 'location1' %>
				  <%= text_field_tag 'location[][name]' %>
				  <%= hidden_field_tag 'location[][event_id]', params[:event_id]  %>
				  <a href="#" class="addNew btn btn-success">+</a>
				</p>
			
				<p class="hide">
				  <%= label_tag 'location2' %>
				  <%= text_field_tag 'location[][name]'  %>
				  <%= hidden_field_tag 'location[][event_id]', params[:event_id]  %>
				  <a href="#" class="addNew btn btn-success">+</a>
				  <a href="#" class="rem btn btn-danger">-</a>
				</p>
			
				<p class="hide">
				  <%= label_tag 'location3' %>
				  <%= text_field_tag 'location[][name]' %>
				  <%= hidden_field_tag 'location[][event_id]', params[:event_id]  %>
				  <a href="#" class="addNew btn btn-success">+</a>
				  <a href="#" class="rem btn btn-danger">-</a>
				</p>
		
				<p class="hide">
				  <%= label_tag 'location4' %>
				  <%= text_field_tag 'location[][name]' %>
				  <%= hidden_field_tag 'location[][event_id]', params[:event_id]  %>
				  <a href="#" class="rem btn btn-danger">-</a>
				</p>
			</div>
		
	<%= hidden_field_tag 'event_id', params[:event_id] %>
					
					
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>