<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Location Option 1" %> 
    <%= f.text_field :loc1 %>
  </div>
  <div class="field">
    <%= f.label "Location Option 2" %> 
    <%= f.text_field :loc2 %>
  </div>
  <div class="field">
    <%= f.label "Location Option 3" %> 
    <%= f.text_field :loc3 %>
  </div>
  <div class="field">
    <%= f.label "Location Option 4" %> 
    <%= f.text_field :loc4 %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.number_field :event_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
