<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<div id="addNewLoc">
		<p>
			<input type ="text" name="loc" placeholder="One Location Will set the Place">
					<a href="#" id="addNew">+</a>
				</p>
			</div>
			
			<!-- <div id="addNewTime">
						<p>
							<input type="text" name="loc" placeholder="Enter a Time!">
							<a href="#" id="addNew">+</a>
						</p>
					</div> -->
			
			
				<!-- <select name="time">
								<option>12:00</option>
								<option>12:30</option>
								<option>1:00</option>
								<option>1:30</option>
								<option>2:00</option>
								<option>2:30</option>
								<option>3:00</option>
								<option>3:30</option>
								<option>4:00</option>
								<option>4:30</option>
								<option>5:00</option>
								<option>5:30</option>
								<option>6:00</option>
								<option>6:30</option>
								<option>7:00</option>
								<option>7:30</option>
								<option>8:00</option>
								<option>8:30</option>
								<option>9:00</option>
								<option>9:30</option>
								<option>10:00</option>
								<option>10:30</option>
								<option>11:00</option>
								<option>11:30</option>
							</select>
							<select>
								<option>AM</option>
								<option>PM</option>
							</select> -->
			<!-- <input type="text" name="loc1" placeholder="Enter a Location!"> -->
	

  <div class="field">
    <%= f.label "Location Option 1" %> 
    <%= f.text_field :loc1 %>
  </div>
  <div class="field">
    <%= f.label "Location Option 2" %> 
    <%= f.text_field :loc2 %>
  </div>
  <div class="field">
    <%= f.label "Location Option 3" %> 
    <%= f.text_field :loc3 %>
  </div>
  <div class="field">
    <%= f.label "Location Option 4" %> 
    <%= f.text_field :loc4 %>
  </div>
  <div class="field">
    <%= f.label :event_id %> 
    <%= f.number_field :event_id %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
