<%= form_tag '/locations' do %>


			 

			<div id="addNewTime">
			  <%= label_tag 'location1' %>
				<%= hidden_field_tag 'location[][event_id]', params[:event_id]  %>
			  <%= text_field_tag 'location[][name]' %>
			</div>
			
			<div id="addNewTime">
			  <%= label_tag 'location2' %>
				<%= hidden_field_tag 'location[][event_id]', params[:event_id]  %>
			  <%= text_field_tag 'location[][name]' %>
			</div>
			

   				<div id="addNewTime">
				  <%= label_tag 'location3' %>
					<%= hidden_field_tag 'location[][event_id]', params[:event_id]  %>
				  <%= text_field_tag 'location[][name]' %>
				</div>
				
					<div id="addNewTime">
					  <%= label_tag 'location4' %>
						<%= hidden_field_tag 'location[][event_id]', params[:event_id]  %>
					  <%= text_field_tag 'location[][name]' %>
					</div>
		
	<%= hidden_field_tag 'event_id', params[:event_id] %>
					
					
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>