<p id="notice"><%= notice %></p>

<p>
  <b>Loc1:</b>
  <%= @location.loc1 %>
</p>

<p>
  <b>Loc2:</b>
  <%= @location.loc2 %>
</p>

<p>
  <b>Loc3:</b>
  <%= @location.loc3 %>
</p>

<p>
  <b>Loc4:</b>
  <%= @location.loc4 %>
</p>

<p>
  <b>Event:</b>
  <%= @location.event_id %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
