<!DOCTYPE html>
<html>
<head>
  <title>Lets530</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>



	<!-- <div class="container background"> -->
	    	<div class="background">

      <div class="foreground one column">

          <div class="logo">
          	<%= image_tag "big-logo.png" %>
          </div>	

          <h4 class="tagline"> Create an event. Invite friends. Make a decision.</h4> 

	    <% if notice.present? %>
	    <div class="alert alert-success">
	      <%= notice %>
	    </div>
	    <% end %>




<%= yield %>
</body>
</html>
